@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

:root {
    --backgrond: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
    max-width: 100%;

    background: url(../assets/blur-1.png) no-repeat left bottom, url(../assets/blur-2.png) no-repeat right top;
    background-color: var(--backgrond);
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    gap: 30px;

    overflow-y: hidden;
}

header{
    padding-top: 30px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 32.43px;
}

header nav ul li a{
    text-decoration: none;
    font-weight: 14px;
    color: var(--text-color);
}

header nav ul li a:hover{
    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
}

header button{
    background-color: transparent;
    border: 1px solid var(--button);
    border-radius: 6px;

    padding: 11px 38px;
    cursor: pointer;

    text-transform: uppercase;
    color: var(--text-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

header button:hover{
    background-color: var(--button);
}

main{
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main section h1{
    font-weight: 700;
    font-size: 5rem;
    line-height: 95px;
    letter-spacing: -0.03em;

    display: flex;
    align-items: center;
    justify-content: center;
}

main section h1:first-of-type{
    color: var(--text-color);

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main section h1:last-of-type{
    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
    
    gap: 10px;
}

main section h1:last-of-type img{
    height: 60px;
}

main > img{
    max-height: 352px;
}